<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Netbook | Your Solutions For Community</title>
    <meta
      name="description"
      content="Netbook is a community platform that connects people with their friends, family, and other communities."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <div class="padding-top-spacer px-2"> -->
      <a class="visually-hidden-focusable position-fixed" href="#intro"
        >Skip to main content</a
      >
    <!-- </div> -->

    <!-- Header -->
    <%= require("./partials/layout/header.ejs")() %>

    <!-- Offcanvas mobile menu -->
    <%= require("./components/navbar-offcanvas.ejs")() %>

    <!-- Main Content -->
    <main>
      <!-- Introduction -->
      <%= require("./partials/sections/intro.ejs")() %>

      <!-- About -->
      <%= require("./partials/sections/about.ejs")() %>

      <!-- Achievement -->
      <%= require("./partials/sections/achievement.ejs")() %>

      <!-- Team -->
      <%= require("./partials/sections/members.ejs")() %>
    </main>

    <!-- Footer -->
    <%= require("./partials/layout/footer.ejs")() %>
  </body>
</html>
